<html>
    <head>
        <title>Park's django blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">Park's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.12.2020, 17:22</p>
            <h2><a href="">My First Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
        
        <div>
            <p>published: 04.12.2020 17:52</p>
            <p><a href="">My second post</a></p>
            <p>Aenean eu leo quam.</p>
        </div>
    </body>
</html>